@using WebAppController.Models
@model Employee

@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetAllEmployee</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
    </tr>
</table>